/* line 5, ../sass/styles.scss */
body {
  font-family: 'Karla', Arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  background-image: url(../img/ripple.png);
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: right bottom;
  min-height: 100vh;
}
/* line 14, ../sass/styles.scss */
body.nav-open {
  width: 100%;
  height: 100%;
  position: fixed;
}

/* line 20, ../sass/styles.scss */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 2em;
}

/* line 25, ../sass/styles.scss */
h2, h3 {
  text-transform: uppercase;
}

/* line 28, ../sass/styles.scss */
h2 {
  text-align: center;
}

/* line 31, ../sass/styles.scss */
.main-text {
  max-width: 600px;
  margin: 0 auto;
}

/* line 35, ../sass/styles.scss */
#hamburger {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 30px;
  height: 30px;
  z-index: 1001;
}
/* line 42, ../sass/styles.scss */
#hamburger:hover {
  cursor: pointer;
}
/* line 45, ../sass/styles.scss */
#hamburger line {
  width: 25px;
  margin-left: 2.5px;
  height: 3px;
  background: #254596;
  display: block;
  margin-top: 5px;
  transition: transform 0.5s, opacity 0.25s;
  transform-origin: center;
}
/* line 56, ../sass/styles.scss */
#hamburger.open line {
  background: #ee1b25;
}
/* line 58, ../sass/styles.scss */
#hamburger.open line:nth-of-type(1) {
  transform: rotate(42deg) translateY(10px) translateX(1px);
}
/* line 61, ../sass/styles.scss */
#hamburger.open line:nth-of-type(2) {
  opacity: 0;
}
/* line 64, ../sass/styles.scss */
#hamburger.open line:nth-of-type(3) {
  transform: rotate(-42deg) translateY(-10px) translateX(1px);
}

/* line 70, ../sass/styles.scss */
#close-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
}

/* line 76, ../sass/styles.scss */
header {
  padding-bottom: 1em;
}
/* line 78, ../sass/styles.scss */
header img {
  display: block;
  transition: width 0.5s;
}

/* line 83, ../sass/styles.scss */
nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10em;
  right: 100%;
  transition: right 0.5s;
}
/* line 96, ../sass/styles.scss */
nav a {
  text-decoration: none;
  flex-grow: 1;
  align-self: center;
  width: 100%;
  border-top: 1px solid #254596;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #254596;
}
/* line 107, ../sass/styles.scss */
nav a:first-of-type {
  border-top: none;
}
/* line 110, ../sass/styles.scss */
nav a:hover {
  color: white;
  background: #254596;
}
/* line 115, ../sass/styles.scss */
nav.open {
  right: 0;
}

/* line 119, ../sass/styles.scss */
aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 0.9em;
}

/* line 129, ../sass/styles.scss */
article img {
  float: right;
}

@media screen and (max-width: 480px) {
  /* line 134, ../sass/styles.scss */
  body {
    background-size: 350px auto;
    padding-bottom: 150px;
  }

  /* line 139, ../sass/styles.scss */
  header img {
    width: 130px;
  }

  /* line 143, ../sass/styles.scss */
  main {
    padding: 1em;
  }
}
